@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


:root{
    font-size: 62.5%;
    --bc-principal: #0d1e30;
    --bc-linha: #aac815e1;
    --color-h1-legend: rgba(255, 255, 255, 0.836);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--bc-principal);
    height: 98vh;
    display: grid;
}

textarea{
    opacity: 0;
    position: absolute;
}

hr{
    border-width: .3rem;
    border-radius: 35%;
    border-color: var(--bc-linha);
    margin: 10px auto;
}

div#box{
    margin: auto;
    max-width: 55rem;
}

h1, h2{
    margin: 5px 0;
    color: var(--color-h1-legend);
}

fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

legend{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-h1-legend);
}

button{
    cursor: pointer;
    border: 3px solid var(--bc-linha);
}

button:hover{
    background-color: #bfe292;
    border: none;
}

button:focus{
    border: none;
    background-color: #aac815e1;
    color: var(--color-h1-legend);
    font-size: 1.5rem;
}

fieldset#box-tratativas button, fieldset#box-office button{
    margin: .5rem;
    width: 15rem;
    height: 5rem;
    border-radius: 7.5px;
}

fieldset#box-links-sites{
    display: flex;
    flex-direction: column;
}

fieldset#box-links-sites a button{
    margin: .4rem;
    padding: .7rem;
    border-radius: 40px;
}